body {
    margin: 0;
    background: #fff;
}

canvas {
    margin: 0 auto;
    display: block;
}

#game-ui {
    background-color: #000;
    width: auto;
    max-width: 1264px;
    max-height: 100vh;
    position: relative;
    border: 1px solid navy;
    margin: 0 auto;
    overflow: hidden;
}

.background-rays {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: #004ed9;
}

.background-rays img{
    width: 140%;
    margin-top: -20%;
    margin-left: -20%;
    -webkit-animation:spin 50s linear infinite;
    -moz-animation:spin 50s linear infinite;
    animation:spin 50s linear infinite;
}

.background-platform {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 15;
    top: 0;
    left: 0;
    display: block;
    background-image: url(../assets/platform-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
}

.background-characters {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    display: block;
    background-image: url(../assets/character-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.background-characters {
    width: 100%;
    position: absolute;
    z-index: 15;
    left: 0;
    bottom: 0%;
}

#start-button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    max-width: 300px;
    transform: translate(-50%, 0);
    z-index: 20;
}

#start-button img {
    width: 100%;
    margin: 0 auto;
    display: block;
    transition: transform .2s;
}

#start-button:hover {
    cursor: pointer;
}

#start-button:hover img {
    transform: scale(1.1);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
