body {
    margin: 0;
    background: #000;
}

canvas {
    margin: 0 auto;
    display: block;
}

#game-ui {
    background-image: url('../assets/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    max-width: 1264px;
    position: relative;
    border: 1px solid navy;
    margin: 0 auto;
    overflow: hidden;
}

.background-rays {
    background-image: url('../assets/rays-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 150%;
    width: 150%;
    position: absolute;
    z-index: 10;
    left: -10%;
    top: -10%;
    position: absolute;
    -webkit-animation:spin 50s linear infinite;
    -moz-animation:spin 50s linear infinite;
    animation:spin 50s linear infinite;
}

.background-platform {
    width: 100%;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
}

.background-characters {
    background-image: url('../assets/character-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 15;
    left: 0;
    top: -100px;
}

#start-button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -133px;
    z-index: 20;
}

#start-button img {
    width: 250px;
    transition: transform .2s;
}

#start-button:hover {
    cursor: pointer;
}

#start-button:hover img {
    transform: scale(1.1);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
